body {
    font-family: Arial, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10%;
}

.form-select {
    width: auto;
    margin-right: 10px;
}

.table-responsive {
    overflow-x: auto;
}

.btn {
    margin-right: 10px;
}
@media print {
    body {
      margin: 0;
      padding: 0;
    }
  }